#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; 
}

#App {
  background-image: url('https://raw.githubusercontent.com/prp1277/Pat-Facts/master/src/docs/img/pre-boulay-wedding.jpg');
  text-align: center;
  height: 100vh;
}

.navbar-brand {
  animation: App-logo-spin infinite 5s linear;
  height: 100%;
  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
